.user-container{
  background-color:rgb(110, 90, 64);
  padding: 20px;
  color:black;
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap:1.5rem;
  align-items: center;
  
}

#user-img{
  height:50%;
  border-radius: 50;
}